FORMAT: X-1A
HOST: https://api.sparkpost.com/api/v1

# SparkPost API v1
There are two service types available:  [SparkPost](http://sparkpost.com/), our self-service product, and [SparkPost Elite](https://www.sparkpost.com/products/sparkpost-elite), a managed service with guaranteed burst rates and white-glove support. These services have shared and unique aspects, with those unique aspects indicated in our consolidated API documentation as follows:
* Features specific to **SparkPost** are indicated as "SparkPost only".
* Features specific to **SparkPost Elite** products are indicated by "SparkPost Elite only".

## API Endpoints
* JSON is the basis for its request input and response format.
* SparkPost and SparkPost Elite listen on port 443, so no explicit port number is required.

### SparkPost API Endpoint
**https\://api.sparkpost.com/api/v1**

### SparkPost Elite API Endpoint
**https\://yourdomain.msyscloud.com/api/v1**


## API Conventions
* API versioning is handled using a major version number in the URL, e.g. /api/v1/endpoint.
* /something is equivalent to /something/.
* URL paths, URL query parameter names, JSON field names, and XML element names are case sensitive.
* URL paths use lower case, with dashes separating words.
* Query parameters and JSON fields use lower case, with underscores separating words.
* The HTTP status indicates whether an operation failed or succeeded, with extra information included in the HTTP response body.
* All APIs return standard error code formats.
* Unexpected query parameters are ignored.
* Unexpected JSON fields or XML elements in the request body are ignored.
* The JSON number type is bounded to a signed 32-bit integer.

## Authentication
* All API's require that you authenticate with every request.
* To authenticate with the various API's, specify the "Authorization" header with each request. The value of the "Authorization" header must be a valid API key or conform to the standard for Basic authentication.
* Administrators can generate an API key using the UI. Please take care to record and safeguard your API keys at all times. You cannot retrieve an API key after it has been created.
* For examples of supplying the Authorization header, refer to the cURL example below or any of the individual API request examples.

## Using cURL
If you are using cURL to call the API, you must include the resource URI in quotes when you pass in multiple query parameters separated by an **&**.

For example:

```
curl -v \
-H "Content-Type: application/json" \
-H "Authorization: 14ac5499cfdd2bb2859e4476d2e5b1d2bad079bf" \
-X GET "https://api.sparkpost.com/api/v1/metrics/deliverability/aggregate?campaigns=testjob&from=2014-01-23T14:00&metrics=count_targeted,count_sent,count_accepted&protocols=smtp&timezone=America%2FNew_York&to=2014-06-23T15:50"
```

or 

```
curl -v \
-H "Content-Type: application/json" \
-u <APIKey>: \
-X GET "https://api.sparkpost.com/api/v1/metrics/deliverability/aggregate?campaigns=testjob&from=2014-01-23T14:00&metrics=count_targeted,count_sent,count_accepted&protocols=smtp&timezone=America%2FNew_York&to=2014-06-23T15:50"
```

## SMTP Relay Endpoints

### SparkPost SMTP Endpoint
To use SparkPost as an SMTP relay you need to point your SMTP client (or local MTA) to the following endpoint:

* Host: smtp.sparkpostmail.com
* Port: 587
* Encryption: STARTTLS
* Authentication: AUTH LOGIN
* User: SMTP_Injection
* Password: Any API key with Send via SMTP permission

### SparkPost Elite SMTP Endpoint

* Please contact your Technical Account Manager for details on your SMTP endpoint.  

The SMTP relay optionally supports advanced API features using the [SMTP API](#smtp-api).  To create an API key, login to your SparkPost [Account Credentials](https://app.sparkpost.com/account/credentials) page.

## Substitutions Reference

### Key Features

* Substitutions applied in top-level headers, text/plain, and text/html parts
* Key/value substitutions using substitution data provided in an arbitrary JSON object format
* Conditional statements such as if, then, else, elseif
* Looping over JSON arrays using each
* Execution of built-in macros
* Support for default values provided as a backup for substitution data that does not exist
* Automatic HTML escaping of substitution values appearing in HTML parts of content
* Automatic encoding of UTF-8 substitution values appearing in email headers

### Substitution Data

Substitutions are applied per recipient using substitution data provided as part of
the transmission and recipient JSON structures.  In the simplest case, substitution data is a JSON
object of key/value pairs of recipient-specific data.  In a more complex case,
the substitution data can consist of nested JSON objects and even arrays of objects.
This allows the template writer to write statements that loop over an array of JSON objects
and substitute values that exist in each object in the array, for example, an array of customer orders.

The following is a simple example of JSON substitution data:

```
{
  "name" : "Clark",
  "age" : 40,
  "state" : "MD",
  "is_member" : true
}
```

See the examples in the following sections for more complex substitution data structures.

**UTF-8 support**: UTF-8 substitution *values* are supported, but UTF-8 substitution *keys* are not supported.

Substitution keys can be composed of any string of US-ASCII letters,
digits, and underscores, not beginning
with a digit, with the exception of the following keywords:

* and, break, do, else, elseif
* end, false, for, function, if
* in, local, nil ,not, or ,each
* repeat, return, then, true, until, while

**Metadata**: Transmissions and recipients also support a "metadata" JSON object.
Metadata can be used in substitutions in the same way as substitution data.




### Template Start and End Markers

As with some other templating languages, the start and end markers are defined as double curly braces.  For example:

```
{{value}}
```

Whitespace within the braces is ignored.  All of the following are equivalent:

```
{{ value }}
{{value}}
{{  value   }}
```

However, no spaces are allowed when substitution data is used in a query string.
In the following example, no whitespace is allowed within the braces:

```
<a href="https://company.com/dailydeals?user={{user}}&offercode={{offercode}}">
Check out the amazing offers for today ONLY!
</a>
```

In all cases, the two braces must be adjacent, and there can be no space between them.
The following will not be interpreted as a template:

```
{ { value } }
```

### Determination of Expressions and Statements

When compiling a template, the substitution engine looks at the text between each pair of curly braces
and determines whether it should be treated as an expression or a statement.  The
difference being, expressions return a value, and statements do not return a value.
However, there is no need to use a different syntax when writing an expression
(as is done in some templating languages).

Expressions return values that are inserted into the template content.  The following are examples:

```
{{ name }}
{{ age }}
{{ airports[code].city }}
{{ name or 'Customer' }}
```
 
Statements do not return a value but implement logic using keywords such as if, else, not, end,
each.  The following are examples:

```
{{ if name == "Clark" }}
{{ if empty(myarray) }}
{{ each orders }}
{{ end }}
```

### Missing Substitution Values

An empty string is substituted for keys that do not appear in the substitution
data or are present in the substitution data but have a value of JSON null.

When `name` does not exist, the following example will render as **Hello []**. 

```
Hello [{{ name }}]
```

When `name` is null, the following expression resolves to **You don't have a name!**: 

```
{{ if name }}
Your name is {{name}}
{{ else }}
You don't have a name!
{{ end }}
```

When the orders array is null, nothing is rendered in the following example:

```
{{ each orders }}
Price is {{loop_var}}
{{ end }}
```

### Statements on Their Own Line
Substitution statements that exist on their own line of the template will **not**
produce a blank line in the resulting output.  This is a convenience to the
template writer.  In addition, any whitespace after the closing **}}** and before
the `LF` or `CRLF` will **not** be present in the output. 

These rules do not apply to substitution expressions.

In the following example, the template will render without blank lines: 

```
Start of template
{{ if state == "MD" }}
Maryland
{{ end }}
End of template
```

Yielding the output:

```
Start of template
Maryland
End of template
```

### Escaping Start and End Tags

If you want a pair of opening or closing braces to appear in the content,
you must escape them.  Use one of the following macros:

* `opening_double_curly()`
* `closing_double_curly()`
* `opening_triple_curly()`
* `closing_triple_curly()`

For example:

```
Here is a curly: {{ opening_double_curly() }}
```

will yield:

```
Here is a curly: {{
```

### Escaping HTML Values

The substitution engine automatically HTML escapes substitution values before they are
inserted into the HTML part of the content.  Substitution values inserted into
plain text portions of content are not HTML escaped.  In order to prevent
HTML escaping, use triple curly braces.

### Preventing HTML Escaping

The substitution engine supports triple curly braces to signify that HTML escaping should not occur.

Example substitution data: 

```
{
  "custom_html": "<p>Hello</p>"
}
```

Example template HTML part:

```
<body>
{{{ custom_html }}}
</body>
```

Example of the resulting rendered HTML:

```
<body>
<p>Hello</p>
</body>
```

Example of using double curly braces renders angle brackets incorrectly:

```
<body>
&lt;p&gt;Hello&lt;/p&gt;
</body>
```

### Personalized Links

Personalized links are supported.  A personalized link is defined as a target link that has one or more substitutions.
For example:

```
<a href="https://company.com/dailydeals?user={{user}}&offercode={{offercode}}">Go!</a>
```

In this case `{{user}}` and `{{offercode}}` are the items taken from the substitution data or metadata. 

The substitution engine automatically URL encodes substitution values before they are
inserted into URLs.  For example, if 'user' and 'offercode' are defined in the substitution_data as

```
{
  "user" : "Spark Post",
  "offercode" : "ABC/ZYZ"
}
```

Then the above URL will be correctly rendered as
```
<a href="https://company.com/dailydeals?user=Spark%20Post&offercode=ABC%2FZYZ">Go!</a>
```

In order to disable URL encoding, use triple curly braces.  This is useful if you
have an entire URL suffix which needs to be substituted.  For example:

```
<a href="http://www.company.com/{{{the_entire_suffix}}}">Go</a>
```

where the substitution_data looks like:

```
{
  "the_entire_suffix" : "groups/join?user=clark"
}
```

Since triple curlies are used, the substitution value will *not* be URL encoded
and the URL will render as expected:

```
<a href="http://www.company.com/groups/join?user=clark">Go</a>
```

Triple curlies are also necessary if the entire URL resides in substitution data:

```
{
  "the_entire_url" : "http://www.company.com/dailydeals?user=foo&offercode=bar"
}
```

This URL can be inserted into the template using triple curlies:

```
<a href="{{{the_entire_url}}}">Go!</a>
```

### Link Names

Name all links using the **data-msys-linkname** custom attribute.  The link name has a maximum length of 63 characters and is truncated if it exceeds that limit. For example:

```
<a href="http://www.example.com" data-msys-linkname="banner">Example</a>
```

If this attribute is not specified, the link name will fall back to **Raw URL**.

The link name will be incorporated into the click-tracked link and will be tracked in engagement events.

### Substitutions Syntax Examples

This section contains syntax examples based on the following JSON substitution data:

```
{
  "name": "Clark Griswold",
  "address": {
    "street": "Hemlock",
    "number": "203A",
    "city": "Chicago",
    "state": "IL"
  },
  "age": 40,
  "signed_up": true,
  "rejected_sign_up": false,
  "children": [
    "Rusty",
    "Audrey"
  ],
  "shopping_cart": [
    {
      "item_name": "Jacket",
      "price": 39.99,
      "a_nested_array": [
        {
          "key": "v2"
        },
        {
          "key": "v1"
        }
      ]
    },
    {
      "item_name": "Gloves",
      "price": 5.00
    }
  ]
}
```

#### Basic Substitution

```
Hello {{name}}
```

#### Referencing a Nested Object

```
Street: {{address.street}}
```

#### if then else Syntax

Notice the "then" is not required.  The following are equivalent: 

```
{{if signed_up}}
Welcome
{{else}}
Don't forget to sign up!
{{end}}

{{if signed_up then}}
Welcome
{{else}}
Don't forget to sign up!
{{end}}
```

#### if not Syntax

```
{{if not signed_up}}
Don't forget to sign up!
{{end}}
```

#### elseif Syntax

```
{{if signed_up}}
Welcome
{{elseif rejected_sign_up}}
We won't bug you
{{else}}
Please sign up
{{end}}
```

#### Expressions in Conditionals (`==`, `!=`, `<`, `>`, `and`, `or`)

```
{{if age > 30}}
do something
{{else}}
do something else
{{end}}

{{if address.state == "MD"}}
do something
{{end}}

-- multi part conditionals
{{if age > 30 and address.state == "MD"}}
do something
{{end}}
```

### Relational and Logical Operators

The relational and logical operators are as follows: 

**Relational Operators**

| Expression | Description |
| ---------- |-------------|
| x == y | x is equal to y |
| x != y | x is not equal to y |
| x < y | x is less than y |
| x > y | x is greater than y |
| x <= y | x is less than or equal to y |
| x >= y | x is greater than or equal to y |

**Logical Operators**

| Expression |
| ------------- |
| and |
| or |
| not |

### Array Iteration

The substitution language uses the `each` keyword for iteration.
The value at each index of an array can be accessed within the each loop by using the `loop_var` variable. When using the `each` keyword to iterate over an array, the `loop_index` variable can be used to get the current index.

These examples continue to use the sample data given above.

For example, use the following syntax to iterate over a JSON array of strings
(children) and print out the value of each string:

```
{{ each children }}
You have a child named {{loop_var}}
{{ end }}
```

To iterate over an array of objects, the syntax is the same,
but access to the nested fields of the object is done using dot notation:

```
Your shopping cart has items in it:

{{each shopping_cart}}
Item: {{loop_var.item_name}}, Price: {{loop_var.item_price}}
{{end}}
```

Nested loops are possible.  When nested loops are in use, loop variables must
be accessed using `loop_vars.<name of the array>` (notice it is plural `loop_vars` and not `loop_var`).
The following example uses `shopping_cart` and `a_nested_array`: 

```
{{each shopping_cart}}
  Item: {{loop_vars.shopping_cart.item_name}}, Price: {{loop_vars.shopping_cart.item_price}}
  This item has the following nested values:
  {{each loop_vars.shopping_cart.a_nested_array}}
    Nested value: {{loop_vars.a_nested_array.key}}
  {{end}}
{{end}}
```

The preceding example uses indentation for ease of reading.
The indentation will appear in the rendered content, so it is not advisable to indent a production template. 

### Links and Substitution Expressions Within Substitution Values

Sometimes it may be convenient to place links and substitution expressions not only within
a template, but within substitution values themselves.  For example, the 'my_html_chunk' substitution value
below contains a link as well as a substitution expression referencing a username:

```

{
  "substitution_data" : {
    "my_html_chunk" : "<p><a href = \"http://www.example.com?q={{username}}\">Click here</a></p>",
    "username" : "foo"
  }
}
```

By default, this will not work. In general, the rules are as follows:

* Links within substitution values are *not* automatically converted to click trackable links.
* Substitution expressions within substitution values are *not* automatically executed.

Using the above substitution_data and the following template:

```
<body>
<p>Attempting to insert a chunk of html:</p>
{{{ my_html_chunk }}}
</body>
```

Will result in the following unexpected rendered content:

```
<body>
<p>Attempting to insert a chunk of html:</p>
<p><a href = "http://www.example.com?q={{username}}">Click here</a></p>
</body>
```

Notice that the **username** variable was not replaced
and the link was not converted into a click trackable form.

In order to correct this problem, the system must be informed of the need to perform such
substitutions and link tracking.  This can be accomplished with two steps:

1) The html chunk must be specified in the transmission level substitution data underneath a special
`dynamic_html` json object.  All key value pairs underneath dynamic_html will undergo substitutions as well
as link tracking.

In the above example, the transmission level substitution data would need to be structured as:

```
{
  "substitution_data" : {
    "dynamic_html" : {
      "my_html_chunk" : "<p><a href = \"http://www.example.com?q={{username}}\">Click here</a></p>"
    }
  }
}
```

2) The render_dynamic_content() macro must be used to wrap all uses of dynamic_html variables.
Continuing with the example above, the template would
need to be structured as:

```
<body>
<p>Attempting to insert a chunk of html:</p>
{{ render_dynamic_content(dynamic_html.my_html_chunk) }}
</body>
```

The dynamic content will be correctly inserted *without* html escaping,
regardless of whether double or triple curly braces are used.  There is no need to use triple curly braces in this case.


To insert dynamic content into the text/plain part of a message, one must place the dynamic content into the transmission
level substitution variable `dynamic_plain`.  For example:

```
{
  "substitution_data" : {
    "dynamic_plain" : {
      "my_plain_text_chunk" : "A chunk of plain text content with a link and a substitution. http://www.example.com?q={{username}}"
    }
  }
}
```

As with dynamic_html, dynamic_plain variables must be wrapped in the render_dynamic_content() macro when used
in the template:

```
Attempting to insert a chunk of plain text:
{{ render_dynamic_content(dynamic_plain.my_plain_text_chunk) }}
```

Finally, as a more realistic example, render_dynamic_content can also be used inside an 'each' loop. Full transmission json examples follow.

**Note:** The following example applies to SparkPost only.

```
{
  "recipients": [
    {
      "address": {
        "email": "foo@example.com"
      },
      "substitution_data": {
        "name": "The A-Team",
        "offers": [ "offer2", "offer1" ]
      }
    },
    {
      "address": {
        "email": "bar@example.com"
      },
      "substitution_data": {
        "name": "Johnnie Rico",
        "offers": [ "offer3" ]
      }
    }
  ],
  "substitution_data": {
    "dynamic_html": {
      "offer1": "<a href=\"http://t.com/offer/1?name={{name}}\">Premium-brand wirecutters</a>",
      "offer2": "<a href=\"http://t.com/offer/2?name={{name}}\">Corks</a>",
      "offer3": "<a href=\"http://t.com/offer/3?name={{name}}\">Super-effective bug spray</a>"
    },
    "dynamic_plain": {
      "offer1": "Premium-brand wirecutters -- http://t.com/offer/1?name={{name}}",
      "offer2": "Corks -- http://t.com/offer/2?name={{name}}",
      "offer3": "Super-effective bug spray -- http://t.com/offer/3?name={{name}}"
    }
  }
  "content": {
    "text": "Today's special offers:\n\n{{each offers}}\n* {{render_dynamic_content(dynamic_plain[loop_var])}}\n{{end}}\n",
    "html": "<p>Today's special offers</p><ul>\n{{each offers}}\n<li>{{render_dynamic_content(dynamic_html[loop_var])}}</li>\n{{end}}\n</ul>",
    "from": "test@example.com",
    "subject": "offers"
  }
}
```

**Note:** The following example applies to SparkPost Elite only.

```
{
  "recipients": [
    {
      "address": {
        "email": "foo@example.com"
      },
      "substitution_data": {
        "name": "The A-Team",
        "offers": [ "offer2", "offer1" ]
      }
    },
    {
      "address": {
        "email": "bar@example.com"
      },
      "substitution_data": {
        "name": "Johnnie Rico",
        "offers": [ "offer3" ]
      }
    }
  ],
  "substitution_data": {
    "dynamic_html": {
      "offer1": "<a href=\"http://t.com/offer/1?name={{name}}\">Premium-brand wirecutters</a>",
      "offer2": "<a href=\"http://t.com/offer/2?name={{name}}\">Corks</a>",
      "offer3": "<a href=\"http://t.com/offer/3?name={{name}}\">Super-effective bug spray</a>"
    },
    "dynamic_plain": {
      "offer1": "Premium-brand wirecutters -- http://t.com/offer/1?name={{name}}",
      "offer2": "Corks -- http://t.com/offer/2?name={{name}}",
      "offer3": "Super-effective bug spray -- http://t.com/offer/3?name={{name}}"
    }
  }
  "content": {
    "text": "Today's special offers:\n\n{{each offers}}\n* {{render_dynamic_content(dynamic_plain[loop_var])}}\n{{end}}\n",
    "html": "<p>Today's special offers</p><ul>\n{{each offers}}\n<li>{{render_dynamic_content(dynamic_html[loop_var])}}</li>\n{{end}}\n</ul>",
    "from": "test@example.com",
    "subject": "offers"
  },
  "return_path": "test@example.com"
}
```

### Default Values

To create default values, use `or` syntax.  In the following example,
if `name` does not exist as a substitution key, then the expression `null or 'Customer'`
will evaluate as `Customer`.

```
Hello {{ name or 'Customer' }}
```

### Macros

Macros are function calls that may or may not take arguments.  The currently available macros are:

**empty**

This function takes a JSON array as an argument and returns true if the array is empty or false if the array is not empty.
This is useful for determining whether to include a header in a dynamically
generated HTML table and blocking iteration of the table if it is empty.

Example:

```
{{ if not empty(shopping_cart) }}
<table border = "1">
<tr>
<th>Name</th>
<th>Price</th>
</tr>
{{ each shopping_cart }}
<tr>
<td>{{loop_var.item_name}}</td>
<td>${{loop_var.item_price}}</td>
</tr>
{{ end }}
</table>
{{ else }}
<b>Buy something!</b>
{{ end }}
```

**Braces Macros**

The four macros for outputting braces are listed below followed by their output:

* `opening_double_curly()` - {{
* `closing_double_curly()` - }}
* `opening_triple_curly()` - {{{
* `closing_triple_curly()` - }}}



###  Reserved Recipient Substitution Variables

The following substitution variables are reserved and automatically available for each recipient:

* `address.name`: Recipient's name from the _address.name_ recipient json field
* `email` and `address.email`: Recipient's email address from the _address_ or _address.email_ recipient json field
* `return_path`: Return path from the transmission or recipients json field ( **Note:** SparkPost Elite only )

**Note:** The following example applies to SparkPost only.

```
Hello {{address.name}}
Your email is {{address.email}}
```

**Note:** The following example applies to SparkPost Elite only.

```
Hello {{address.name}}
Your email is {{address.email}} and your return path is {{return_path}}
```

### Substitutions in email_rfc822 Headers

When it is desirable to have substitutions in RFC2047 encoded headers which are folded, be sure that
each line of the header is separately RFC2047 encoded.  Otherwise, the server will not be able to decode
the header to look for substitution syntax.

**Correct:**

```
Subject: =?gb2312?B?ztLE3M3Mz8Kyo8Gntviyu8nLye3M5c7SxNzNzM/CsqPBp7b4srvJy8ntzOU=?=
   =?gb2312?B?ztLE3M3Mz8Kyo8Gntvg=?= 
```

**Incorrect:**

```
Subject: =?gb2312?B?ztLE3M3Mz8Kyo8Gntviyu8nLye3M5c7SxNzNzM/CsqPBp7b4srvJy8ntzOU=
   ztLE3M3Mz8Kyo8Gntvg=?=
```

### Encoding Rules

* If after substitution, a text/plain or text/html part contains 8-bit data,
then that part will be quoted-printable encoded before being placed back into the
MIME structure.  The Content-Type will be updated appropriately.
* If after substitution, a header value contains 8-bit data, then the header
value will be RFC2047 base64 encoded before being written back to the headers structure.

# Group Metrics

SparkPost and SparkPost Elite log copious amounts of statistical, real-time data about message processing, message
disposition, and campaign performance.  This reporting data is available in the UI or through the Metrics API.  The Metrics API provides a variety of endpoints enabling you to retrieve a summary of the data, data grouped by a specific qualifier, or data by event type.  Within each endpoint, you can also apply various filters to drill down to the data for your specific reporting needs.

## Metrics API Deliverability Glossary

Definitions for terms found in Metrics API

| Term     | Definition    |
|---------:|:--------------|
|`count_targeted` | Messages successfully injected into SparkPost and SparkPost Elite as well as rejected by it|
|`count_injected` | Messages injected to or received by SparkPost and SparkPost Elite|
|`count_sent` | Messages that SparkPost and SparkPost Elite attempted to deliver, which includes both Deliveries and In-Band Bounces|
|`count_accepted` | Messages an ISP or other remote domain accepted (less Out-of-Band Bounces)|
|`count_delivered_first` | Messages delivered on the first attempt|
|`count_delivered_subsequent` | Messages delivered that required more than one delivery attempt|
|`count_rendered` | Total renderings of a message|
|`count_unique_rendered` | Total number of messages that were rendered at least once|
|`count_unique_confirmed_opened` | Total number of messages that were rendered or had at least one link selected|
|`count_clicked` | Total number of times that links were selected across all messages|
|`count_unique_clicked` | Total number of messages which had at least one link selected one or more times|
|`count_bounce` | Total number of bounced messages, which includes both In-Band and Out-of-Band bounces|
|`count_hard_bounce` | Total number of Bounced messages due to hard bounce classification reasons|
|`count_soft_bounce` | Total number of Bounced messages due to soft bounce classification reasons|
|`count_block_bounce` | Total number of Bounced messages due to an IP block|
|`count_admin_bounce` | Total number of Bounced messages due to admin bounce classification reasons, also includes Rejected|
|`count_undetermined_bounce` | Total number of Bounced messages due to undetermined bounce reasons|
|`count_rejected` | Messages rejected due to policy or that failed to generate|
|`count_policy_rejection` | Messages rejected by SparkPost and SparkPost Elite due to policy|
|`count_generation_failed` | Message generation failed for an intended recipient|
|`count_generation_rejection` | Messages rejected by SparkPost and SparkPost Elite due to policy|
|`count_inband_bounce` | Messages that bounced on delivery attempt during the SMTP session|
|`count_outofband_bounce` | Messages that the ISP bounced subsequent to a successful delivery|
|`count_delayed` | Total number of delays due to any temporary failure|
|`count_delayed_first` | Messages delayed on the first delivery attempt|
|`total_msg_volume` | Total size of delivered messages, in bytes (including attachments)|
|`count_spam_complaint` | Number of spam complaints received from an ISP|

## Discoverability Links [/metrics/]

The Metrics API is designed for discoverability of child links.  Calling the API root displays a
list of URIs that exists within the Metrics API.

+ Model (application/json)

    + Body

        ```
        {
            "results": {},
            "links": [
                {
                   "href": "/api/v1/metrics/",
                   "rel": "",
                   "method": "GET"
                },
                {
                  "href": "/api/v1/metrics/campaigns",
                  "rel": "campaigns",
                  "method": "GET"
                },
                {
                  "href": "/api/v1/metrics/deliverability",
                  "rel": "deliverability",
                  "method": "GET"
                },
                {
                  "href": "/api/v1/metrics/domains",
                  "rel": "domains",
                  "method": "GET"
                },
                {
                  "href": "/api/v1/metrics/binding-groups",
                  "rel": "binding-groups",
                  "method": "GET"
                },
                {
                  "href": "/api/v1/metrics/bindings",
                  "rel": "bindings",
                  "method": "GET"
                },
                {
                  "href": "/api/v1/metrics/nodes",
                  "rel": "nodes",
                  "method": "GET"
                },
                {
                  "href": "/api/v1/metrics/protocols",
                  "rel": "protocols",
                  "method": "GET"
                }
            ]
        }
        ```

    + Schema

        ```
        {
            "type":"object",
            "$schema": "http://json-schema.org/draft-03/schema",
            "required":false,
            "properties":{
                "links": {
                    "type":"array",
                    "required":false,
                    "items":
                        {
                            "type":"object",
                            "required":false,
                            "properties":{
                                "href": {
                                    "type":"string",
                                    "required":false
                                },
                                "method": {
                                    "type":"string",
                                    "required":false
                                },
                                "rel": {
                                    "type":"string",
                                    "required":false
                                }
                            }
                        }
                },
                "results": {
                    "type":"object",
                    "required":false
                }
            }
        }
        ```

### Metrics Discoverability Links [GET]

Provides links to all child URIs within the Metrics API.

**Note:** Links in the response for binding-groups, bindings, nodes, and protocols apply to SparkPost Elite only.

+ Request

    + Headers

            Authorization: 14ac5499cfdd2bb2859e4476d2e5b1d2bad079bf
            Accept: application/json

+ Response 200

    [Discoverability Links][]


## Deliverability Metrics [/metrics/deliverability{?from,to,domains,campaigns,templates,nodes,bindings,binding_groups,protocols,metrics,timezone}]


+ Model

    + Body

        ```
        {
          "results": [
            {
              "count_targeted": 34432,
              "count_injected": 32323,
              "count_rejected": 2343,
              "count_sent": 34344
            }
          ],
        "links": [
            {
                "href": "/api/v1/metrics/deliverability",
                "rel": "deliverability",
                "method": "GET"
            }
          ]
        }
        ```

    + Schema

        ```
        {
          "type":"object",
          "$schema": "http://json-schema.org/draft-03/schema",
          "required":false,
          "properties":{
            "links": {
              "type":"array",
              "required":false,
              "items":
                {
                  "type":"object",
                  "required":false,
                  "properties":{
                    "href": {
                      "type":"string",
                      "required":false
                    },
                    "method": {
                      "type":"string",
                      "required":false
                    },
                    "rel": {
                      "type":"string",
                      "required":false
                    }
                  }
                }
            },
            "results": {
              "type":"array",
              "required":false,
              "items":
                {
                  "type":"object",
                  "required":false,
                  "properties":{
                    "count_accepted": {
                      "type":"number",
                      "required":false
                    },
                    "count_admin_bounce": {
                      "type":"number",
                      "required":false
                    },
                    "count_block_bounce": {
                      "type":"number",
                      "required":false
                    },
                    "count_bounce": {
                      "type":"number",
                      "required":false
                    },
                    "count_clicked": {
                      "type":"number",
                      "required":false
                    },
                    "count_delayed_first": {
                      "type":"number",
                      "required":false
                    },
                    "count_delayed": {
                      "type":"number",
                      "required":false
                    },
                    "count_delivered_first": {
                      "type":"number",
                      "required":false
                    },
                    "count_delivered_subsequent": {
                      "type":"number",
                      "required":false
                    },
                    "count_delivered": {
                      "type":"number",
                      "required":false
                    },
                    "count_generation_failed": {
                      "type":"number",
                      "required":false
                    },
                    "count_generation_rejection": {
                      "type":"number",
                      "required":false
                    },
                    "count_hard_bounce": {
                      "type":"number",
                      "required":false
                    },
                    "count_inband_bounce": {
                      "type":"number",
                      "required":false
                    },
                    "count_injected": {
                      "type":"number",
                      "required":false
                    },
                    "count_outofband_bounce": {
                      "type":"number",
                      "required":false
                    },
                    "count_policy_rejection": {
                      "type":"number",
                      "required":false
                    },
                    "count_rejected": {
                      "type":"number",
                      "required":false
                    },
                    "count_rendered": {
                      "type":"number",
                      "required":false
                    },
                    "count_sent": {
                      "type":"number",
                      "required":false
                    },
                    "count_soft_bounce": {
                      "type":"number",
                      "required":false
                    },
                    "count_spam_complaint": {
                      "type":"number",
                      "required":false
                    },
                    "count_targeted": {
                      "type":"number",
                      "required":false
                    },
                    "count_undetermined_bounce": {
                      "type":"number",
                      "required":false
                    },
                    "count_unique_clicked": {
                      "type":"number",
                      "required":false
                    },
                    "count_unique_confirmed_opened": {
                      "type":"number",
                      "required":false
                    },
                    "count_unique_rendered": {
                      "type":"number",
                      "required":false
                    },
                    "total_delivery_time_first": {
                      "type":"number",
                      "required":false
                    },
                    "total_delivery_time_subsequent": {
                      "type":"number",
                      "required":false
                    },
                    "total_msg_volume": {
                      "type":"number",
                      "required":false
                    }
                  }
                }
            }
          }
        }
        ```

### Deliverability Metrics Summary [GET]

Provides high-level summary of aggregate metrics and lists the child endpoints that contain
aggregate data, which can be used as "group by" qualifiers.

+ Parameters
    + from (required, datetime, `2014-07-11T08:00`) ... Datetime in format of YYYY-MM-DDTHH:MM
    + to = `now` (optional, datetime, `2014-07-20T09:00`) ... Datetime in format of YYYY-MM-DDTHH:MM
    + domains (optional, list, `gmail.com,yahoo.com,hotmail.com`) ... Comma-delimited list of domains to include
    + campaigns (optional, list, `Black Friday`) ... Comma-delimited list of campaigns to include
    + templates (optional, list, `summer-sale`) ... Comma-delimited list of template IDs to include
    + nodes (optional, list, `Email-MSys-1,Email-MSys-2,Email-MSys-3`) ... Comma-delimited list of nodes to include ( **Note:** SparkPost Elite only )
    + bindings (optional, list, `Confirmation`) ... Comma-delimited list of bindings to include ( **Note:** SparkPost Elite only )
    + binding_groups (optional, list, `Transaction`) ... Comma-delimited list of binding groups to include ( **Note:** SparkPost Elite only )
    + protocols (optional, list, `smtp`) ... Comma-delimited list of protocols for filtering ( **Note:** SparkPost Elite only )
        + Values
            + `smtp`
    + metrics (required, list) ... Comma-delimited list of metrics for filtering

        + Values
            + `count_injected`
            + `count_bounce`
            + `count_rejected`
            + `count_delivered`
            + `count_delivered_first`
            + `count_delivered_subsequent`
            + `total_delivery_time_first`
            + `total_delivery_time_subsequent`
            + `total_msg_volume`
            + `count_policy_rejection`
            + `count_generation_rejection`
            + `count_generation_failed`
            + `count_inband_bounce`
            + `count_outofband_bounce`
            + `count_soft_bounce`
            + `count_hard_bounce`
            + `count_block_bounce`
            + `count_admin_bounce`
            + `count_undetermined_bounce`
            + `count_delayed`
            + `count_delayed_first`
            + `count_rendered`
            + `count_unique_rendered`
            + `count_unique_confirmed_opened`
            + `count_clicked`
            + `count_unique_clicked`
            + `count_targeted`
            + `count_sent`
            + `count_accepted`
            + `count_spam_complaint`

    + timezone =`UTC` (optional, string, `America/New_York`) ... Standard timezone identification string, defaults to `UTC`

+ Request

    + Headers

            Authorization: 14ac5499cfdd2bb2859e4476d2e5b1d2bad079bf
            Accept: application/json

+ Response 200 (application/json)

  [Deliverability Metrics][]



## Deliverability Metrics by Domain [/metrics/deliverability/domain{?from,to,domains,campaigns,templates,nodes,bindings,binding_groups,protocols,metrics,timezone,order_by,limit}]

+ Model

    + Body

        ```
        {
          "results": [
            {
              "domain": "aol.com",
              "count_targeted": 34432,
              "count_injected": 32323,
              "count_rejected": 2343,
              "count_sent": 34344
            },
            {
              "domain": "foo.net",
              "count_targeted": 34432,
              "count_injected": 32323,
              "count_rejected": 2343,
              "count_sent": 34344
            }
          ]
        }
        ```

    + Schema

        ```
        {
          "type":"object",
          "$schema": "http://json-schema.org/draft-03/schema",
          "required":false,
          "properties":{
            "results": {
              "type":"array",
              "required":false,
              "items":
                {
                  "type":"object",
                  "required":false,
                  "properties":{
                    "count_accepted": {
                      "type":"number",
                      "required":false
                    },
                    "count_admin_bounce": {
                      "type":"number",
                      "required":false
                    },
                    "count_block_bounce": {
                      "type":"number",
                      "required":false
                    },
                    "count_bounce": {
                      "type":"number",
                      "required":false
                    },
                    "count_clicked": {
                      "type":"number",
                      "required":false
                    },
                    "count_delayed_first": {
                      "type":"number",
                      "required":false
                    },
                    "count_delayed": {
                      "type":"number",
                      "required":false
                    },
                    "count_delivered_first": {
                      "type":"number",
                      "required":false
                    },
                    "count_delivered_subsequent": {
                      "type":"number",
                      "required":false
                    },
                    "count_delivered": {
                      "type":"number",
                      "required":false
                    },
                    "count_generation_failed": {
                      "type":"number",
                      "required":false
                    },
                    "count_generation_rejection": {
                      "type":"number",
                      "required":false
                    },
                    "count_hard_bounce": {
                      "type":"number",
                      "required":false
                    },
                    "count_inband_bounce": {
                      "type":"number",
                      "required":false
                    },
                    "count_injected": {
                      "type":"number",
                      "required":false
                    },
                    "count_outofband_bounce": {
                      "type":"number",
                      "required":false
                    },
                    "count_policy_rejection": {
                      "type":"number",
                      "required":false
                    },
                    "count_rejected": {
                      "type":"number",
                      "required":false
                    },
                    "count_rendered": {
                      "type":"number",
                      "required":false
                    },
                    "count_sent": {
                      "type":"number",
                      "required":false
                    },
                    "count_soft_bounce": {
                      "type":"number",
                      "required":false
                    },
                    "count_spam_complaint": {
                      "type":"number",
                      "required":false
                    },
                    "count_targeted": {
                      "type":"number",
                      "required":false
                    },
                    "count_undetermined_bounce": {
                      "type":"number",
                      "required":false
                    },
                    "count_unique_clicked": {
                      "type":"number",
                      "required":false
                    },
                    "count_unique_confirmed_opened": {
                      "type":"number",
                      "required":false
                    },
                    "count_unique_rendered": {
                      "type":"number",
                      "required":false
                    },
                    "domain": {
                      "type":"string",
                      "required":false
                    },
                    "total_delivery_time_first": {
                      "type":"number",
                      "required":false
                    },
                    "total_delivery_time_subsequent": {
                      "type":"number",
                      "required":false
                    },
                    "total_msg_volume": {
                      "type":"number",
                      "required":false
                    }
                  }
                }
            }
          }
        }
        ```

### Deliverability Metrics by Domain [GET]

Provides aggregate metrics grouped by domain over the time window specified.

+ Parameters
  + from (required, datetime, `2014-07-11T08:00`) ... Datetime in format of YYYY-MM-DDTHH:MM
  + to = `now` (optional, datetime, `2014-07-20T09:00`) ... Datetime in format of YYYY-MM-DDTHH:MM
  + domains (optional, list, `gmail.com,yahoo.com,hotmail.com`) ... Comma-delimited list of domains to include
  + campaigns (optional, list, `Black Friday`) ... Comma-delimited list of campaigns to include
  + templates (optional, list, `summer-sale`) ... Comma-delimited list of template IDs to include
  + nodes (optional, list, `Email-MSys-1,Email-MSys-2,Email-MSys-3`) ... Comma-delimited list of nodes to include ( **Note:** SparkPost Elite only )
  + bindings (optional, list, `Confirmation`) ... Comma-delimited list of bindings to include ( **Note:** SparkPost Elite only )
  + binding_groups (optional, list, `Transaction`) ... Comma-delimited list of binding groups to include ( **Note:** SparkPost Elite only )
  + protocols (optional, list, `smtp`) ... Comma-delimited list of protocols for filtering ( **Note:** SparkPost Elite only )
      + Values
          + `smtp`
  + metrics (required, list) ... Comma-delimited list of metrics for filtering
        
        + Values
            + `count_injected`
            + `count_bounce`
            + `count_rejected`
            + `count_delivered`
            + `count_delivered_first`
            + `count_delivered_subsequent`
            + `total_delivery_time_first`
            + `total_delivery_time_subsequent`
            + `total_msg_volume`
            + `count_policy_rejection`
            + `count_generation_rejection`
            + `count_generation_failed`
            + `count_inband_bounce`
            + `count_outofband_bounce`
            + `count_soft_bounce`
            + `count_hard_bounce`
            + `count_block_bounce`
            + `count_admin_bounce`
            + `count_undetermined_bounce`
            + `count_delayed`
            + `count_delayed_first`
            + `count_rendered`
            + `count_unique_rendered`
            + `count_unique_confirmed_opened`
            + `count_clicked`
            + `count_unique_clicked`
            + `count_targeted`
            + `count_sent`
            + `count_accepted`
            + `count_spam_complaint`
            
  + timezone =`UTC` (optional, string, `America/New_York`) ... Standard timezone identification string, defaults to `UTC`
  + limit (optional, int, `5`) ... Maximum number of results to return
  + order_by (optional, string, `count_injected`) ... Metric by which to order results

+ Request

    + Headers

            Authorization: 14ac5499cfdd2bb2859e4476d2e5b1d2bad079bf
            Accept: application/json

+ Response 200 (application/json)

  [Deliverability Metrics by Domain][]


## Deliverability Metrics by Binding [/metrics/deliverability/binding{?from,to,domains,campaigns,templates,nodes,bindings,binding_groups,protocols,metrics,timezone,limit,order_by}]
+ Model

    + Body

        ```
        {
          "results": [
            {
              "binding": "binding-0",
              "count_targeted": 34432,
              "count_injected": 32323,
              "count_rejected": 2343,
              "count_sent": 34344
            },
            {
              "binding": "binding-1",
              "count_targeted": 34432,
              "count_injected": 32323,
              "count_rejected": 2343,
              "count_sent": 34344
            }
          ]
        }
        ```

    + Schema

        ```
        {
          "type":"object",
          "$schema": "http://json-schema.org/draft-03/schema",
          "required":false,
          "properties":{
            "results": {
              "type":"array",
              "required":false,
              "items":
                {
                  "type":"object",
                  "required":false,
                  "properties":{
                    "binding": {
                      "type":"string",
                      "required":false
                    },
                    "count_accepted": {
                      "type":"number",
                      "required":false
                    },
                    "count_admin_bounce": {
                      "type":"number",
                      "required":false
                    },
                    "count_block_bounce": {
                      "type":"number",
                      "required":false
                    },
                    "count_bounce": {
                      "type":"number",
                      "required":false
                    },
                    "count_clicked": {
                      "type":"number",
                      "required":false
                    },
                    "count_delayed_first": {
                      "type":"number",
                      "required":false
                    },
                    "count_delayed": {
                      "type":"number",
                      "required":false
                    },
                    "count_delivered_first": {
                      "type":"number",
                      "required":false
                    },
                    "count_delivered_subsequent": {
                      "type":"number",
                      "required":false
                    },
                    "count_delivered": {
                      "type":"number",
                      "required":false
                    },
                    "count_generation_failed": {
                      "type":"number",
                      "required":false
                    },
                    "count_generation_rejection": {
                      "type":"number",
                      "required":false
                    },
                    "count_hard_bounce": {
                      "type":"number",
                      "required":false
                    },
                    "count_inband_bounce": {
                      "type":"number",
                      "required":false
                    },
                    "count_injected": {
                      "type":"number",
                      "required":false
                    },
                    "count_outofband_bounce": {
                      "type":"number",
                      "required":false
                    },
                    "count_policy_rejection": {
                      "type":"number",
                      "required":false
                    },
                    "count_rejected": {
                      "type":"number",
                      "required":false
                    },
                    "count_rendered": {
                      "type":"number",
                      "required":false
                    },
                    "count_sent": {
                      "type":"number",
                      "required":false
                    },
                    "count_soft_bounce": {
                      "type":"number",
                      "required":false
                    },
                    "count_spam_complaint": {
                      "type":"number",
                      "required":false
                    },
                    "count_targeted": {
                      "type":"number",
                      "required":false
                    },
                    "count_undetermined_bounce": {
                      "type":"number",
                      "required":false
                    },
                    "count_unique_clicked": {
                      "type":"number",
                      "required":false
                    },
                    "count_unique_confirmed_opened": {
                      "type":"number",
                      "required":false
                    },
                    "count_unique_rendered": {
                      "type":"number",
                      "required":false
                    },
                    "total_delivery_time_first": {
                      "type":"number",
                      "required":false
                    },
                    "total_delivery_time_subsequent": {
                      "type":"number",
                      "required":false
                    },
                    "total_msg_volume": {
                      "type":"number",
                      "required":false
                    }
                  }
                }
            }
          }
        }
        ```


### Deliverability Metrics by Binding [GET]

**Note:** This endpoint is available in SparkPost Elite only.

Provides aggregate metrics grouped by binding over the time window specified.

+ Parameters
  + from (required, datetime, `2014-07-11T08:00`) ... Datetime in format of YYYY-MM-DDTHH:MM
  + to = `now` (optional, datetime, `2014-07-20T09:00`) ... Datetime in format of YYYY-MM-DDTHH:MM
  + domains (optional, list, `gmail.com,yahoo.com,hotmail.com`) ... Comma-delimited list of domains to include
  + campaigns (optional, list, `Black Friday`) ... Comma-delimited list of campaigns to include
  + templates (optional, list, `summer-sale`) ... Comma-delimited list of template IDs to include
  + nodes (optional, list, `Email-MSys-1,Email-MSys-2,Email-MSys-3`) ... Comma-delimited list of nodes to include ( **Note:** SparkPost Elite only )
  + bindings (optional, list, `Confirmation`) ... Comma-delimited list of bindings to include ( **Note:** SparkPost Elite only )
  + binding_groups (optional, list, `Transaction`) ... Comma-delimited list of binding groups to include ( **Note:** SparkPost Elite only )
  + protocols (optional, list, `smtp`) ... Comma-delimited list of protocols for filtering ( **Note:** SparkPost Elite only )
      + Values
          + `smtp`
  + metrics (required, list, `count_targeted`) ... Comma-delimited list of metrics for filtering
      + Values
          + `count_injected`
          + `count_bounce`
          + `count_rejected`
          + `count_delivered`
          + `count_delivered_first`
          + `count_delivered_subsequent`
          + `total_delivery_time_first`
          + `total_delivery_time_subsequent`
          + `total_msg_volume`
          + `count_policy_rejection`
          + `count_generation_rejection`
          + `count_generation_failed`
          + `count_inband_bounce`
          + `count_outofband_bounce`
          + `count_soft_bounce`
          + `count_hard_bounce`
          + `count_block_bounce`
          + `count_admin_bounce`
          + `count_undetermined_bounce`
          + `count_delayed`
          + `count_delayed_first`
          + `count_rendered`
          + `count_unique_rendered`
          + `count_unique_confirmed_opened`
          + `count_clicked`
          + `count_unique_clicked`
          + `count_targeted`
          + `count_sent`
          + `count_accepted`
          + `count_spam_complaint`
  + timezone =`UTC` (optional, string, `America/New_York`) ... Standard timezone identification string, defaults to `UTC`
  + limit (optional, int, `5`) ... Maximum number of results to return
  + order_by (optional, string, `count_injected`) ... Metric by which to order results

+ Request

  + Headers

            Authorization: 14ac5499cfdd2bb2859e4476d2e5b1d2bad079bf
            Accept: application/json

+ Response 200


## Deliverability Metrics by Binding Group [/metrics/deliverability/binding-group{?from,to,domains,campaigns,templates,nodes,bindings,binding_groups,protocols,metrics,timezone,limit,order_by}]

+ Model

    + Body

        ```
        {
          "results": [
            {
              "binding_group": "bg-0",
              "count_targeted": 34432,
              "count_injected": 32323,
              "count_rejected": 2343,
              "count_sent": 34344
            },
            {
              "binding_group": "bg-1",
              "count_targeted": 34432,
              "count_injected": 32323,
              "count_rejected": 2343,
              "count_sent": 34344
            }
          ]
        }
        ```

    + Schema

        ```
        {
          "type":"object",
          "$schema": "http://json-schema.org/draft-03/schema",
          "required":false,
          "properties":{
            "results": {
              "type":"array",
              "required":false,
              "items":
                {
                  "type":"object",
                  "required":false,
                  "properties":{
                    "binding_group": {
                      "type":"string",
                      "required":false
                    },
                    "count_accepted": {
                      "type":"number",
                      "required":false
                    },
                    "count_admin_bounce": {
                      "type":"number",
                      "required":false
                    },
                    "count_block_bounce": {
                      "type":"number",
                      "required":false
                    },
                    "count_bounce": {
                      "type":"number",
                      "required":false
                    },
                    "count_clicked": {
                      "type":"number",
                      "required":false
                    },
                    "count_delayed_first": {
                      "type":"number",
                      "required":false
                    },
                    "count_delayed": {
                      "type":"number",
                      "required":false
                    },
                    "count_delivered_first": {
                      "type":"number",
                      "required":false
                    },
                    "count_delivered_subsequent": {
                      "type":"number",
                      "required":false
                    },
                    "count_delivered": {
                      "type":"number",
                      "required":false
                    },
                    "count_generation_failed": {
                      "type":"number",
                      "required":false
                    },
                    "count_generation_rejection": {
                      "type":"number",
                      "required":false
                    },
                    "count_hard_bounce": {
                      "type":"number",
                      "required":false
                    },
                    "count_inband_bounce": {
                      "type":"number",
                      "required":false
                    },
                    "count_injected": {
                      "type":"number",
                      "required":false
                    },
                    "count_outofband_bounce": {
                      "type":"number",
                      "required":false
                    },
                    "count_policy_rejection": {
                      "type":"number",
                      "required":false
                    },
                    "count_rejected": {
                      "type":"number",
                      "required":false
                    },
                    "count_rendered": {
                      "type":"number",
                      "required":false
                    },
                    "count_sent": {
                      "type":"number",
                      "required":false
                    },
                    "count_soft_bounce": {
                      "type":"number",
                      "required":false
                    },
                    "count_spam_complaint": {
                      "type":"number",
                      "required":false
                    },
                    "count_targeted": {
                      "type":"number",
                      "required":false
                    },
                    "count_undetermined_bounce": {
                      "type":"number",
                      "required":false
                    },
                    "count_unique_clicked": {
                      "type":"number",
                      "required":false
                    },
                    "count_unique_confirmed_opened": {
                      "type":"number",
                      "required":false
                    },
                    "count_unique_rendered": {
                      "type":"number",
                      "required":false
                    },
                    "total_delivery_time_first": {
                      "type":"number",
                      "required":false
                    },
                    "total_delivery_time_subsequent": {
                      "type":"number",
                      "required":false
                    },
                    "total_msg_volume": {
                      "type":"number",
                      "required":false
                    }
                  }
                }
            }
          }
        }
        ```

### Deliverability Metrics by Binding Group [GET]

**Note:** This endpoint is available in SparkPost Elite only.

Provides aggregate metrics grouped by binding group over the time window specified.

+ Parameters
  + from (required, datetime, `2014-07-11T08:00`) ... Datetime in format of YYYY-MM-DDTHH:MM
  + to = `now` (optional, datetime, `2014-07-20T09:00`) ... Datetime in format of YYYY-MM-DDTHH:MM
  + domains (optional, list, `gmail.com,yahoo.com,hotmail.com`) ... Comma-delimited list of domains to include
  + campaigns (optional, list, `Black Friday`) ... Comma-delimited list of campaigns to include
  + templates (optional, list, `summer-sale`) ... Comma-delimited list of template IDs to include
  + nodes (optional, list, `Email-MSys-1,Email-MSys-2,Email-MSys-3`) ... Comma-delimited list of nodes to include ( **Note:** SparkPost Elite only )
  + bindings (optional, list, `Confirmation`) ... Comma-delimited list of bindings to include ( **Note:** SparkPost Elite only )
  + binding_groups (optional, list, `Transaction`) ... Comma-delimited list of binding groups to include ( **Note:** SparkPost Elite only )
  + protocols (optional, list, `smtp`) ... Comma-delimited list of protocols for filtering ( **Note:** SparkPost Elite only )
      + Values
          + `smtp`
  + metrics (required, list, `count_targeted`) ... Comma-delimited list of metrics for filtering
      + Values
          + `count_injected`
          + `count_bounce`
          + `count_rejected`
          + `count_delivered`
          + `count_delivered_first`
          + `count_delivered_subsequent`
          + `total_delivery_time_first`
          + `total_delivery_time_subsequent`
          + `total_msg_volume`
          + `count_policy_rejection`
          + `count_generation_rejection`
          + `count_generation_failed`
          + `count_inband_bounce`
          + `count_outofband_bounce`
          + `count_soft_bounce`
          + `count_hard_bounce`
          + `count_block_bounce`
          + `count_admin_bounce`
          + `count_undetermined_bounce`
          + `count_delayed`
          + `count_delayed_first`
          + `count_rendered`
          + `count_unique_rendered`
          + `count_unique_confirmed_opened`
          + `count_clicked`
          + `count_unique_clicked`
          + `count_targeted`
          + `count_sent`
          + `count_accepted`
          + `count_spam_complaint`
  + timezone =`UTC` (optional, string, `America/New_York`) ... Standard timezone identification string, defaults to `UTC`
  + limit (optional, int, `5`) ... Maximum number of results to return
  + order_by (optional, string, `count_injected`) ... Metric by which to order results

+ Request

  + Headers

            Authorization: 14ac5499cfdd2bb2859e4476d2e5b1d2bad079bf
            Accept: application/json

+ Response 200 (application/json)

  [Deliverability Metrics by Binding Group][]


## Deliverability Metrics by Campaign [/metrics/deliverability/campaign{?from,to,domains,campaigns,templates,nodes,bindings,binding_groups,protocols,metrics,timezone,limit,order_by}]


+ Model

    + Body

        ```
        {
          "results": [
            {
              "campaign_id": "campaign-0",
              "count_targeted": 34432,
              "count_injected": 32323,
              "count_rejected": 2343,
              "count_sent": 34344
            },
            {
              "campaign_id": "campaign-1",
              "count_targeted": 34432,
              "count_injected": 32323,
              "count_rejected": 2343,
              "count_sent": 34344
            }
          ]
        }
        ```

    + Schema

        ```
        {
          "type":"object",
          "$schema": "http://json-schema.org/draft-03/schema",
          "required":false,
          "properties":{
            "results": {
              "type":"array",
              "required":false,
              "items":
                {
                  "type":"object",
                  "required":false,
                  "properties":{
                    "campaign_id": {
                      "type":"string",
                      "required":false
                    },
                    "count_accepted": {
                      "type":"number",
                      "required":false
                    },
                    "count_admin_bounce": {
                      "type":"number",
                      "required":false
                    },
                    "count_block_bounce": {
                      "type":"number",
                      "required":false
                    },
                    "count_bounce": {
                      "type":"number",
                      "required":false
                    },
                    "count_clicked": {
                      "type":"number",
                      "required":false
                    },
                    "count_delayed_first": {
                      "type":"number",
                      "required":false
                    },
                    "count_delayed": {
                      "type":"number",
                      "required":false
                    },
                    "count_delivered_first": {
                      "type":"number",
                      "required":false
                    },
                    "count_delivered_subsequent": {
                      "type":"number",
                      "required":false
                    },
                    "count_delivered": {
                      "type":"number",
                      "required":false
                    },
                    "count_generation_failed": {
                      "type":"number",
                      "required":false
                    },
                    "count_generation_rejection": {
                      "type":"number",
                      "required":false
                    },
                    "count_hard_bounce": {
                      "type":"number",
                      "required":false
                    },
                    "count_inband_bounce": {
                      "type":"number",
                      "required":false
                    },
                    "count_injected": {
                      "type":"number",
                      "required":false
                    },
                    "count_outofband_bounce": {
                      "type":"number",
                      "required":false
                    },
                    "count_policy_rejection": {
                      "type":"number",
                      "required":false
                    },
                    "count_rejected": {
                      "type":"number",
                      "required":false
                    },
                    "count_rendered": {
                      "type":"number",
                      "required":false
                    },
                    "count_sent": {
                      "type":"number",
                      "required":false
                    },
                    "count_soft_bounce": {
                      "type":"number",
                      "required":false
                    },
                    "count_spam_complaint": {
                      "type":"number",
                      "required":false
                    },
                    "count_targeted": {
                      "type":"number",
                      "required":false
                    },
                    "count_undetermined_bounce": {
                      "type":"number",
                      "required":false
                    },
                    "count_unique_clicked": {
                      "type":"number",
                      "required":false
                    },
                    "count_unique_confirmed_opened": {
                      "type":"number",
                      "required":false
                    },
                    "count_unique_rendered": {
                      "type":"number",
                      "required":false
                    },
                    "total_delivery_time_first": {
                      "type":"number",
                      "required":false
                    },
                    "total_delivery_time_subsequent": {
                      "type":"number",
                      "required":false
                    },
                    "total_msg_volume": {
                      "type":"number",
                      "required":false
                    }
                  }
                }
            }
          }
        }
        ```

### Deliverability Metrics by Campaign [GET]

Provides aggregate metrics grouped by campaign over the time window specified.

+ Parameters
    + from (required, datetime, `2014-07-11T08:00`) ... Datetime in format of YYYY-MM-DDTHH:MM
    + to = `now` (optional, datetime, `2014-07-20T09:00`) ... Datetime in format of YYYY-MM-DDTHH:MM
    + domains (optional, list, `gmail.com,yahoo.com,hotmail.com`) ... Comma-delimited list of domains to include
    + campaigns (optional, list, `Black Friday`) ... Comma-delimited list of campaigns to include
    + templates (optional, list, `summer-sale`) ... Comma-delimited list of template IDs to include
    + nodes (optional, list, `Email-MSys-1,Email-MSys-2,Email-MSys-3`) ... Comma-delimited list of nodes to include ( **Note:** SparkPost Elite only )
    + bindings (optional, list, `Confirmation`) ... Comma-delimited list of bindings to include ( **Note:** SparkPost Elite only )
    + binding_groups (optional, list, `Transaction`) ... Comma-delimited list of binding groups to include ( **Note:** SparkPost Elite only )
    + protocols (optional, list, `smtp`) ... Comma-delimited list of protocols for filtering ( **Note:** SparkPost Elite only )
      + Values
          + `smtp`
    + metrics (required, list) ... Comma-delimited list of metrics for filtering
      
        + Values
            + `count_injected`
            + `count_bounce`
            + `count_rejected`
            + `count_delivered`
            + `count_delivered_first`
            + `count_delivered_subsequent`
            + `total_delivery_time_first`
            + `total_delivery_time_subsequent`
            + `total_msg_volume`
            + `count_policy_rejection`
            + `count_generation_rejection`
            + `count_generation_failed`
            + `count_inband_bounce`
            + `count_outofband_bounce`
            + `count_soft_bounce`
            + `count_hard_bounce`
            + `count_block_bounce`
            + `count_admin_bounce`
            + `count_undetermined_bounce`
            + `count_delayed`
            + `count_delayed_first`
            + `count_rendered`
            + `count_unique_rendered`
            + `count_unique_confirmed_opened`
            + `count_clicked`
            + `count_unique_clicked`
            + `count_targeted`
            + `count_sent`
            + `count_accepted`
            + `count_spam_complaint`
            
    + timezone =`UTC` (optional, string, `America/New_York`) ... Standard timezone identification string, defaults to `UTC`
    + limit (optional, int, `5`) ... Maximum number of results to return
    + order_by (optional, string, `count_injected`) ... Metric by which to order results

+ Request

    + Headers

            Authorization: 14ac5499cfdd2bb2859e4476d2e5b1d2bad079bf
            Accept: application/json

+ Response 200 (application/json)

  [Deliverability Metrics by Campaign][]


## Deliverability Metrics by Template [/metrics/deliverability/template{?from,to,domains,campaigns,templates,nodes,bindings,binding_groups,protocols,metrics,timezone,limit,order_by}]


+ Model

    + Body

        ```
        {
          "results": [
            {
              "template_id": "template-0",
              "count_targeted": 34432,
              "count_injected": 32323,
              "count_rejected": 2343,
              "count_sent": 34344
            },
            {
              "template_id": "template-1",
              "count_targeted": 34432,
              "count_injected": 32323,
              "count_rejected": 2343,
              "count_sent": 34344
            }
          ]
        }
        ```

    + Schema

        ```
        {
          "type":"object",
          "$schema": "http://json-schema.org/draft-03/schema",
          "required":false,
          "properties":{
            "results": {
              "type":"array",
              "required":false,
              "items":
                {
                  "type":"object",
                  "required":false,
                  "properties":{
                    "count_accepted": {
                      "type":"number",
                      "required":false
                    },
                    "count_admin_bounce": {
                      "type":"number",
                      "required":false
                    },
                    "count_block_bounce": {
                      "type":"number",
                      "required":false
                    },
                    "count_bounce": {
                      "type":"number",
                      "required":false
                    },
                    "count_clicked": {
                      "type":"number",
                      "required":false
                    },
                    "count_delayed_first": {
                      "type":"number",
                      "required":false
                    },
                    "count_delayed": {
                      "type":"number",
                      "required":false
                    },
                    "count_delivered_first": {
                      "type":"number",
                      "required":false
                    },
                    "count_delivered_subsequent": {
                      "type":"number",
                      "required":false
                    },
                    "count_delivered": {
                      "type":"number",
                      "required":false
                    },
                    "count_generation_failed": {
                      "type":"number",
                      "required":false
                    },
                    "count_generation_rejection": {
                      "type":"number",
                      "required":false
                    },
                    "count_hard_bounce": {
                      "type":"number",
                      "required":false
                    },
                    "count_inband_bounce": {
                      "type":"number",
                      "required":false
                    },
                    "count_injected": {
                      "type":"number",
                      "required":false
                    },
                    "count_outofband_bounce": {
                      "type":"number",
                      "required":false
                    },
                    "count_policy_rejection": {
                      "type":"number",
                      "required":false
                    },
                    "count_rejected": {
                      "type":"number",
                      "required":false
                    },
                    "count_rendered": {
                      "type":"number",
                      "required":false
                    },
                    "count_sent": {
                      "type":"number",
                      "required":false
                    },
                    "count_soft_bounce": {
                      "type":"number",
                      "required":false
                    },
                    "count_spam_complaint": {
                      "type":"number",
                      "required":false
                    },
                    "count_targeted": {
                      "type":"number",
                      "required":false
                    },
                    "count_undetermined_bounce": {
                      "type":"number",
                      "required":false
                    },
                    "count_unique_clicked": {
                      "type":"number",
                      "required":false
                    },
                    "count_unique_confirmed_opened": {
                      "type":"number",
                      "required":false
                    },
                    "count_unique_rendered": {
                      "type":"number",
                      "required":false
                    },
                    "template_id": {
                      "type":"string",
                      "required":false
                    },
                    "total_delivery_time_first": {
                      "type":"number",
                      "required":false
                    },
                    "total_delivery_time_subsequent": {
                      "type":"number",
                      "required":false
                    },
                    "total_msg_volume": {
                      "type":"number",
                      "required":false
                    }
                  }
                }
            }
          }
        }
        ```

### Deliverability Metrics by Template [GET]

Provides aggregate metrics grouped by template over the time window specified.

+ Parameters
    + from (required, datetime, `2014-07-11T08:00`) ... Datetime in format of YYYY-MM-DDTHH:MM
    + to = `now` (optional, datetime, `2014-07-20T09:00`) ... Datetime in format of YYYY-MM-DDTHH:MM
    + domains (optional, list, `gmail.com,yahoo.com,hotmail.com`) ... Comma-delimited list of domains to include
    + campaigns (optional, list, `Black Friday`) ... Comma-delimited list of campaigns to include
    + templates (optional, list, `summer-sale`) ... Comma-delimited list of template IDs to include
    + nodes (optional, list, `Email-MSys-1,Email-MSys-2,Email-MSys-3`) ... Comma-delimited list of nodes to include ( **Note:** SparkPost Elite only )
    + bindings (optional, list, `Confirmation`) ... Comma-delimited list of bindings to include ( **Note:** SparkPost Elite only )
    + binding_groups (optional, list, `Transaction`) ... Comma-delimited list of binding groups to include ( **Note:** SparkPost Elite only )
    + protocols (optional, list, `smtp`) ... Comma-delimited list of protocols for filtering ( **Note:** SparkPost Elite only )
        + Values
            + `smtp`
    + metrics (required, list) ... Comma-delimited list of metrics for filtering
      
        + Values
            + `count_injected`
            + `count_bounce`
            + `count_rejected`
            + `count_delivered`
            + `count_delivered_first`
            + `count_delivered_subsequent`
            + `total_delivery_time_first`
            + `total_delivery_time_subsequent`
            + `total_msg_volume`
            + `count_policy_rejection`
            + `count_generation_rejection`
            + `count_generation_failed`
            + `count_inband_bounce`
            + `count_outofband_bounce`
            + `count_soft_bounce`
            + `count_hard_bounce`
            + `count_block_bounce`
            + `count_admin_bounce`
            + `count_undetermined_bounce`
            + `count_delayed`
            + `count_delayed_first`
            + `count_rendered`
            + `count_unique_rendered`
            + `count_unique_confirmed_opened`
            + `count_clicked`
            + `count_unique_clicked`
            + `count_targeted`
            + `count_sent`
            + `count_accepted`
            + `count_spam_complaint`
            
  + timezone =`UTC` (optional, string, `America/New_York`) ... Standard timezone identification string, defaults to `UTC`
  + limit (optional, int, `5`) ... Maximum number of results to return
  + order_by (optional, string, `count_injected`) ... Metric by which to order results

+ Request

    + Headers

            Authorization: 14ac5499cfdd2bb2859e4476d2e5b1d2bad079bf
            Accept: application/json

+ Response 200 (application/json)

  [Deliverability Metrics by Template][]


## Deliverability Metrics by Watched Domain [/metrics/deliverability/watched-domain{?from,to,domains,campaigns,templates,nodes,bindings,binding_groups,protocols,metrics,timezone,limit,order_by}]

+ Model

    + Body

        ```
        {
          "results": [
            {
              "watched_domain": "aol.com",
              "count_targeted": 34432,
              "count_injected": 32323,
              "count_rejected": 2343,
              "count_sent": 34344
            },
            {
              "watched_domain": "gmail.com",
              "count_targeted": 34432,
              "count_injected": 32323,
              "count_rejected": 2343,
              "count_sent": 34344
            }
          ]
        }
        ```

    + Schema

        ```
        {
          "type":"object",
          "$schema": "http://json-schema.org/draft-03/schema",
          "required":false,
          "properties":{
            "results": {
              "type":"array",
              "required":false,
              "items":
                {
                  "type":"object",
                  "required":false,
                  "properties":{
                    "count_accepted": {
                      "type":"number",
                      "required":false
                    },
                    "count_admin_bounce": {
                      "type":"number",
                      "required":false
                    },
                    "count_block_bounce": {
                      "type":"number",
                      "required":false
                    },
                    "count_bounce": {
                      "type":"number",
                      "required":false
                    },
                    "count_clicked": {
                      "type":"number",
                      "required":false
                    },
                    "count_delayed_first": {
                      "type":"number",
                      "required":false
                    },
                    "count_delayed": {
                      "type":"number",
                      "required":false
                    },
                    "count_delivered_first": {
                      "type":"number",
                      "required":false
                    },
                    "count_delivered_subsequent": {
                      "type":"number",
                      "required":false
                    },
                    "count_delivered": {
                      "type":"number",
                      "required":false
                    },
                    "count_generation_failed": {
                      "type":"number",
                      "required":false
                    },
                    "count_generation_rejection": {
                      "type":"number",
                      "required":false
                    },
                    "count_hard_bounce": {
                      "type":"number",
                      "required":false
                    },
                    "count_inband_bounce": {
                      "type":"number",
                      "required":false
                    },
                    "count_injected": {
                      "type":"number",
                      "required":false
                    },
                    "count_outofband_bounce": {
                      "type":"number",
                      "required":false
                    },
                    "count_policy_rejection": {
                      "type":"number",
                      "required":false
                    },
                    "count_rejected": {
                      "type":"number",
                      "required":false
                    },
                    "count_rendered": {
                      "type":"number",
                      "required":false
                    },
                    "count_sent": {
                      "type":"number",
                      "required":false
                    },
                    "count_soft_bounce": {
                      "type":"number",
                      "required":false
                    },
                    "count_spam_complaint": {
                      "type":"number",
                      "required":false
                    },
                    "count_targeted": {
                      "type":"number",
                      "required":false
                    },
                    "count_undetermined_bounce": {
                      "type":"number",
                      "required":false
                    },
                    "count_unique_clicked": {
                      "type":"number",
                      "required":false
                    },
                    "count_unique_confirmed_opened": {
                      "type":"number",
                      "required":false
                    },
                    "count_unique_rendered": {
                      "type":"number",
                      "required":false
                    },
                    "total_delivery_time_first": {
                      "type":"number",
                      "required":false
                    },
                    "total_delivery_time_subsequent": {
                      "type":"number",
                      "required":false
                    },
                    "total_msg_volume": {
                      "type":"number",
                      "required":false
                    },
                    "watched_domain": {
                      "type":"string",
                      "required":false
                    }
                  }
                }
            }
          }
        }
        ```

### Deliverability Metrics by Watched Domain [GET]

Provides aggregate metrics grouped by watched domain over the time window specified. The difference
between domain and watched domain is that watched domains are comprised of the top 99% domains
in the world.

+ Parameters
    + from (required, datetime, `2014-07-11T08:00`) ... Datetime in format of YYYY-MM-DDTHH:MM
    + to = `now` (optional, datetime, `2014-07-20T09:00`) ... Datetime in format of YYYY-MM-DDTHH:MM
    + domains (optional, list, `gmail.com,yahoo.com,hotmail.com`) ... Comma-delimited list of domains to include
    + campaigns (optional, list, `Black Friday`) ... Comma-delimited list of campaigns to include
    + templates (optional, list, `summer-sale`) ... Comma-delimited list of template IDs to include
    + nodes (optional, list, `Email-MSys-1,Email-MSys-2,Email-MSys-3`) ... Comma-delimited list of nodes to include ( **Note:** SparkPost Elite only )
    + bindings (optional, list, `Confirmation`) ... Comma-delimited list of bindings to include ( **Note:** SparkPost Elite only )
    + binding_groups (optional, list, `Transaction`) ... Comma-delimited list of binding groups to include ( **Note:** SparkPost Elite only )
    + protocols (optional, list, `smtp`) ... Comma-delimited list of protocols for filtering ( **Note:** SparkPost Elite only )
        + Values
            + `smtp`
    + metrics (required, list) ... Comma-delimited list of metrics for filtering
        + Values
            + `count_injected`
            + `count_bounce`
            + `count_rejected`
            + `count_delivered`
            + `count_delivered_first`
            + `count_delivered_subsequent`
            + `total_delivery_time_first`
            + `total_delivery_time_subsequent`
            + `total_msg_volume`
            + `count_policy_rejection`
            + `count_generation_rejection`
            + `count_generation_failed`
            + `count_inband_bounce`
            + `count_outofband_bounce`
            + `count_soft_bounce`
            + `count_hard_bounce`
            + `count_block_bounce`
            + `count_admin_bounce`
            + `count_undetermined_bounce`
            + `count_delayed`
            + `count_delayed_first`
            + `count_rendered`
            + `count_unique_rendered`
            + `count_unique_confirmed_opened`
            + `count_clicked`
            + `count_unique_clicked`
            + `count_targeted`
            + `count_sent`
            + `count_accepted`
            + `count_spam_complaint`
            
  + timezone =`UTC` (optional, string, `America/New_York`) ... Standard timezone identification string, defaults to `UTC`
  + limit (optional, int, `5`) ... Maximum number of results to return
  + order_by (optional, string, `count_injected`) ... Metric by which to order results

+ Request

    + Headers

            Authorization: 14ac5499cfdd2bb2859e4476d2e5b1d2bad079bf
            Accept: application/json

+ Response 200 (application/json)

  [Deliverability Metrics by Watched Domain][]


## Time Series [/metrics/deliverability/time-series{?from,to,domains,campaigns,templates,nodes,bindings,binding_groups,protocols,precision,metrics,timezone}]


+ Model

    + Body

        ```
        {
          "results": [
            {
              "ts": "2013-09-06T09:30",
              "count_targeted": 34432,
              "count_injected": 32323,
              "count_rejected": 2343,
              "count_sent": 34344,
              "count_delivered": 3434,
              "count_delivered_first": 343,
              "count_delivered_subsequent": 22323,
              "total_msg_volume": 33434,
              "count_inband_bounce": 2,
              "count_outofband_bounce": 2,
              "count_bounce": 2,
              "count_soft_bounce": 8,
              "count_hard_bounce": 6,
              "count_block_bounce": 4,
              "count_admin_bounce": 2,
              "count_undetermined_bounce": 2,
              "count_accepted": 3434,
              "count_delayed": 2,
              "count_generation_failed": 1,
              "count_generation_rejection": 1,
              "count_delayed_first": 5,
              "count_rendered": 111,
              "count_unique_rendered": 111,
              "count_unique_confirmed_opened": 111,
              "count_clicked": 8,
              "count_unique_clicked": 8,
              "count_spam_complaint": 5
            },
            {
              "ts": "2013-09-06T09:29",
              "count_targeted": 34432,
              "count_injected": 32323,
              "count_rejected": 2343,
              "count_sent": 34344,
              "count_delivered": 3434,
              "count_delivered_first": 343,
              "count_delivered_subsequent": 22323,
              "total_msg_volume": 33434,
              "count_inband_bounce": 2,
              "count_outofband_bounce": 2,
              "count_bounce": 2,
              "count_soft_bounce": 8,
              "count_hard_bounce": 6,
              "count_block_bounce": 4,
              "count_admin_bounce": 2,
              "count_undetermined_bounce": 2,
              "count_accepted": 3434,
              "count_delayed": 2,
              "count_generation_failed": 1,
              "count_generation_rejection": 1,
              "count_delayed_first": 5,
              "count_rendered": 111,
              "count_unique_rendered": 111,
              "count_unique_confirmed_opened": 111,
              "count_clicked": 8,
              "count_unique_clicked": 8,
              "count_spam_complaint": 7
            }
          ]
        }
        ```

    + Schema

        ```
        {
          "type":"object",
          "$schema": "http://json-schema.org/draft-03/schema",
          "required":false,
          "properties":{
            "results": {
              "type":"array",
              "required":false,
              "items":
                {
                  "type":"object",
                  "required":false,
                  "properties":{
                    "count_accepted": {
                      "type":"number",
                      "required":false
                    },
                    "count_admin_bounce": {
                      "type":"number",
                      "required":false
                    },
                    "count_block_bounce": {
                      "type":"number",
                      "required":false
                    },
                    "count_bounce": {
                      "type":"number",
                      "required":false
                    },
                    "count_clicked": {
                      "type":"number",
                      "required":false
                    },
                    "count_delayed_first": {
                      "type":"number",
                      "required":false
                    },
                    "count_delayed": {
                      "type":"number",
                      "required":false
                    },
                    "count_delivered_first": {
                      "type":"number",
                      "required":false
                    },
                    "count_delivered_subsequent": {
                      "type":"number",
                      "required":false
                    },
                    "count_delivered": {
                      "type":"number",
                      "required":false
                    },
                    "count_generation_failed": {
                      "type":"number",
                      "required":false
                    },
                    "count_generation_rejection": {
                      "type":"number",
                      "required":false
                    },
                    "count_hard_bounce": {
                      "type":"number",
                      "required":false
                    },
                    "count_inband_bounce": {
                      "type":"number",
                      "required":false
                    },
                    "count_injected": {
                      "type":"number",
                      "required":false
                    },
                    "count_outofband_bounce": {
                      "type":"number",
                      "required":false
                    },
                    "count_policy_rejection": {
                      "type":"number",
                      "required":false
                    },
                    "count_rejected": {
                      "type":"number",
                      "required":false
                    },
                    "count_rendered": {
                      "type":"number",
                      "required":false
                    },
                    "count_sent": {
                      "type":"number",
                      "required":false
                    },
                    "count_soft_bounce": {
                      "type":"number",
                      "required":false
                    },
                    "count_spam_complaint": {
                      "type":"number",
                      "required":false
                    },
                    "count_targeted": {
                      "type":"number",
                      "required":false
                    },
                    "count_undetermined_bounce": {
                      "type":"number",
                      "required":false
                    },
                    "count_unique_clicked": {
                      "type":"number",
                      "required":false
                    },
                    "count_unique_confirmed_opened": {
                      "type":"number",
                      "required":false
                    },
                    "count_unique_rendered": {
                      "type":"number",
                      "required":false
                    },
                    "total_delivery_time_first": {
                      "type":"number",
                      "required":false
                    },
                    "total_delivery_time_subsequent": {
                      "type":"number",
                      "required":false
                    },
                    "total_msg_volume": {
                      "type":"number",
                      "required":false
                    },
                    "ts": {
                      "type":"string",
                      "required":false
                    }
                  }
                }
            }
          }
        }
        ```

### Time-Series Metrics [GET]

Provides deliverability metrics ordered by a precision of time.

The following table describes the validation for the **precision** parameter:

| Value of         | Valid for time window of    |
|---------------|-------------|
|1min, 5min |day |
|hour |month |
|day, month |_any_ |

+ Parameters
    + from (required, datetime, `2014-07-11T07:00`) ... Datetime in format of YYYY-MM-DDTHH:MM
    + to = `now` (optional, datetime, `2014-07-20T08:00`) ... Datetime in format of YYYY-MM-DDTHH:MM
    + domains (optional, list `gmail.com,yahoo.com,hotmail.com`) ... Comma-delimited list of domains for filtering
    + campaigns (optional, list, `summerSale,promotionX`) ... Comma-delimited list of campaigns for filtering
[...]
