include mixins.jade

!= '---\n'
!= 'layout: default\n'
!= 'title: API Reference\n'
!= '---\n'

div(class=self.fullWidth ? 'container-fluid' : 'container')#apipage
    .row
        #menublock
            +Nav(false)

        #contentblock
            if self.api.name != "" && self.api.resourceGroups.length == 0
                != '\n{% raw %}\n'
            +Content()
            if self.api.name != "" && self.api.resourceGroups.length == 0
                != '\n{% endraw %}\n'

